.subscribe {
  position: absolute;
  right: 14%;
  bottom: 5%;
  z-index: 3;

  &__txt {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      font-size: 23px;
    }
  }
}

.hero .subscribe__txt {
  color: $white;
}

.hero .subscribe__item::before {
  color: $white;
}

.catalog .subscribe__txt {
  color: $primary;
}

.catalog .subscribe__item::before {
  color: $primary;
}

.contacts .subscribe__txt {
  color: $white;
}

.contacts .subscribe__item::before {
  color: $white;
}
