.page-products {
  min-height: 70vh;
  margin-bottom: 44px;

  &__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 55px 0;
  }

  &__content {
    & .product {
      display: block;
      width: 266px;
      margin-top: 0;
      margin-right: 13px;
      margin-left: 13px;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }
}

.select {
  position: relative;

  &::after {
    position: absolute;
    top: 27%;
    right: 12px;
    display: inline-block;
    padding: 4px;
    content: '';
    border: solid $primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &__title {
    margin-right: 14px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: $primary;
  }
}

.selects-block {
  display: flex;
  align-items: center;
}

.select:first-child {
  margin-right: 50px;
}

#not-found {
  display: none;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ff181f;
}
