.mfiles {
  width: 100%;

  @include visibilityh;

  &__title {
    background: $white;

    & span {
      color: $primary;
    }
  }
}

.mfile {
  width: 529px;
  height: 456px;
  overflow: hidden;
  border-radius: 10px;

  & img {
    display: block;
    object-fit: cover;
  }
}
