<div
  class="section"
  style="background: url('../img/about/about_bg.jpg') no-repeat"
  data-anchor="about"
>
  <div class="about">
    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_white.svg" alt="" />
        </span>
        <a class="burger main-burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime about__title">О компании</h1>
      <div class="items-wrap">
        <div class="items about__items">
          <div class="about__item">
            <div class="about__txt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="about__exps">
              <div class="about__exp">
                <span class="about__exp-count">16</span>
                <span class="about__exp-subtxt">Лет опыта</span>
                <span class="about__exp-horizontal"></span>
                <span class="about__exp-desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </span>
              </div>
              <!-- /Exp -->
              <div class="about__exp">
                <span class="about__exp-count">150+</span>
                <span class="about__exp-subtxt">Сотрудников</span>
                <span class="about__exp-horizontal"></span>
                <span class="about__exp-desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </span>
              </div>
              <!-- /Exp -->
              <div class="about__exp">
                <span class="about__exp-count">400+</span>
                <span class="about__exp-subtxt">Тонн в год</span>
                <span class="about__exp-horizontal"></span>
                <span class="about__exp-desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                </span>
              </div>
              <!-- /Exp -->
            </div>
          </div>
          <!-- /Content -->
          <div class="about__item">
            <div class="about__pic">
              <img src="img/about/about_pic.jpg" alt="" />
            </div>
          </div>
          <!-- /Pic -->
        </div>
      </div>
      <a class="scroll-down" href="#">
        <span class="icon-double-arrow"></span>
        <span class="scroll-down__txt">Прокрутите вниз</span>
      </a>
      <!-- /Scroll down -->
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a
            class="subscribe__item icon-instagram"
            href="#"
            target="_blank"
          ></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
    </div>
  </div>
</div>
