<div class="section" data-anchor="catalog">
  <div class="catalog">
    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_blue.svg" alt="" />
        </span>
        <a class="burger main-burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime catalog__title">Каталог</h1>
      <div class="items-wrap">
        <div class="items catalog__items">
          <div class="tabs">
            <a class="seeall" href="#">Смотреть все</a>
            <ul class="tabscaption">
              <li class="active logo_zoon">
                <span class="tablogo">
                  <img src="img/logos/logo_zoon.png" alt="" />
                </span>
              </li>
              <li class="logo_synheon">
                <span class="tablogo">
                  <img src="img/logos/logo_synheon.png" alt="" />
                </span>
              </li>
              <li class="logo_graumann">
                <span class="tablogo">
                  <img src="img/logos/logo_graumann.png" alt="" />
                </span>
              </li>
            </ul>
            <div class="tabcontent active">
              <div class="owl-carousel catalog-slider">
                @@include('_product.html') @@include('_product.html')
                @@include('_product.html') @@include('_product.html')
                @@include('_product.html') @@include('_product.html')
                @@include('_product.html') @@include('_product.html')
                @@include('_product.html')
              </div>
            </div>
            <div class="tabcontent">
              <div class="product">asd</div>
              <!-- /Product -->
            </div>
            <div class="tabcontent">
              <div class="product">asd</div>
              <!-- /Product -->
            </div>
          </div>
          <!-- /Tabs -->
        </div>
      </div>
      <a class="scroll-down" href="#">
        <span class="icon-double-arrow"></span>
        <span class="scroll-down__txt">Прокрутите вниз</span>
      </a>
      <!-- /Scroll down -->
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a
            class="subscribe__item icon-instagram"
            href="#"
            target="_blank"
          ></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
    </div>
  </div>
</div>
