<div class="section" data-anchor="catalog">
  <div class="catalog">
    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_blue.svg" alt="" />
        </span>
        <a class="burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime catalog__title">Каталог</h1>
      <div class="items-wrap">
        <div class="items catalog__items">
          <div class="tabs">
            <ul class="tabscaption">
              <li class="active">Первая вкладка</li>
              <li>Вторая вкладка</li>
              <li>Третья вкладка</li>
            </ul>
            <div class="tabcontent active">
              <div class="catalog-slider">
                <div class="product">
                  <span class="product__pic">
                    <img src="img/catalog/product.png" alt="" />
                  </span>
                  <span class="product__title">SAe 75W85</span>
                  <div class="product__info">
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Тип</span>
                      <span class="product__info-txt">Моторное масло</span>
                    </div>
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Объем</span>
                      <span class="product__info-txt">4L</span>
                    </div>
                  </div>
                  <div class="product__btn-wrap">
                    <a class="product__btn" href="#">Подробно</a>
                  </div>
                </div>
                <!-- /Product -->
                <div class="product">
                  <span class="product__pic">
                    <img src="img/catalog/product.png" alt="" />
                  </span>
                  <span class="product__title">SAe 75W85</span>
                  <div class="product__info">
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Тип</span>
                      <span class="product__info-txt">Моторное масло</span>
                    </div>
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Объем</span>
                      <span class="product__info-txt">4L</span>
                    </div>
                  </div>
                  <div class="product__btn-wrap">
                    <a class="product__btn" href="#">Подробно</a>
                  </div>
                </div>
                <!-- /Product -->
                <div class="product">
                  <span class="product__pic">
                    <img src="img/catalog/product.png" alt="" />
                  </span>
                  <span class="product__title">SAe 75W85</span>
                  <div class="product__info">
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Тип</span>
                      <span class="product__info-txt">Моторное масло</span>
                    </div>
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Объем</span>
                      <span class="product__info-txt">4L</span>
                    </div>
                  </div>
                  <div class="product__btn-wrap">
                    <a class="product__btn" href="#">Подробно</a>
                  </div>
                </div>
                <!-- /Product -->
                <div class="product">
                  <span class="product__pic">
                    <img src="img/catalog/product.png" alt="" />
                  </span>
                  <span class="product__title">SAe 75W85</span>
                  <div class="product__info">
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Тип</span>
                      <span class="product__info-txt">Моторное масло</span>
                    </div>
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Объем</span>
                      <span class="product__info-txt">4L</span>
                    </div>
                  </div>
                  <div class="product__btn-wrap">
                    <a class="product__btn" href="#">Подробно</a>
                  </div>
                </div>
                <!-- /Product -->
                <div class="product">
                  <span class="product__pic">
                    <img src="img/catalog/product.png" alt="" />
                  </span>
                  <span class="product__title">SAe 75W85</span>
                  <div class="product__info">
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Тип</span>
                      <span class="product__info-txt">Моторное масло</span>
                    </div>
                    <div class="product__info-item">
                      <span class="product__info-pretxt">Объем</span>
                      <span class="product__info-txt">4L</span>
                    </div>
                  </div>
                  <div class="product__btn-wrap">
                    <a class="product__btn" href="#">Подробно</a>
                  </div>
                </div>
                <!-- /Product -->
              </div>
            </div>
            <div class="tabcontent">
              <div class="product">asd</div>
              <!-- /Product -->
            </div>
            <div class="tabcontent">
              <div class="product">asd</div>
              <!-- /Product -->
            </div>
          </div>
          <!-- /Tabs -->
        </div>
      </div>
      <a class="scroll-down" href="#">
        <span class="icon-double-arrow"></span>
        <span class="scroll-down__txt">Прокрутите вниз</span>
      </a>
      <!-- /Scroll down -->
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a class="subscribe__item icon-instagram" href="#" target="_blank"></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
    </div>
  </div>
</div>
