<div class="section" data-anchor="categories">
  <div class="categories">
    <div class="categories__abstract">
      <img src="img/categories/abstract.svg" alt="" />
    </div>

    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_dark.svg" alt="" />
        </span>
        <a class="burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime categories__title">Категории</h1>
      <div class="items-wrap">
        <div class="items categories__items">
          <div class="category">
            <div class="category__top-block">
              <h2 class="category__title">
                Моторные<br />
                масла
              </h2>
              <div class="category__ico icon-canister"></div>
            </div>
            <ul class="category__list">
              <li class="category__list-item">• Для автомобилей</li>
              <li class="category__list-item">• Для коммерческого транспорта</li>
              <li class="category__list-item">• Для грузовиков, комбайнов и тракторов</li>
            </ul>
            <div class="category__btn-wrap">
              <a class="category__btn" href="#">Посмотреть все</a>
            </div>
          </div>
          <!-- /Category -->
          <div class="category">
            <div class="category__top-block">
              <h2 class="category__title">
                Трансмиссионные<br />
                масла
              </h2>
              <div class="category__ico icon-oil"></div>
            </div>
            <ul class="category__list">
              <li class="category__list-item">• Для АКПП</li>
              <li class="category__list-item">• Для МКПП</li>
            </ul>
            <div class="category__btn-wrap">
              <a class="category__btn" href="#">Посмотреть все</a>
            </div>
          </div>
          <!-- /Category -->
          <div class="category">
            <div class="category__top-block">
              <h2 class="category__title">
                Индустриальные<br />
                масла
              </h2>
              <div class="category__ico icon-canister"></div>
            </div>
            <ul class="category__list">
              <li class="category__list-item">• Гидравлические масла</li>
              <li class="category__list-item">• Компрессорные масла</li>
            </ul>
            <div class="category__btn-wrap">
              <a class="category__btn" href="#">Посмотреть все</a>
            </div>
          </div>
          <!-- /Category -->
          <div class="category">
            <div class="category__top-block">
              <h2 class="category__title">
                Автомобильные<br />
                фильтры
              </h2>
              <div class="category__ico icon-filter"></div>
            </div>
            <ul class="category__list">
              <li class="category__list-item">• Воздушные фильтры</li>
              <li class="category__list-item">• Масляные фильтры</li>
              <li class="category__list-item">• Топливные фильтры</li>
            </ul>
            <div class="category__btn-wrap">
              <a class="category__btn" href="#">Посмотреть все</a>
            </div>
          </div>
          <!-- /Category -->
          <div class="category">
            <div class="category__top-block">
              <h2 class="category__title">
                Тормозные<br />
                жидкости
              </h2>
              <div class="category__ico icon-liquid"></div>
            </div>
            <ul class="category__list">
              <li class="category__list-item">• Для автомобилей</li>
              <li class="category__list-item">• Для коммерческого транспорта</li>
              <li class="category__list-item">• Для грузовиков, комбайнов и тракторов</li>
            </ul>
            <div class="category__btn-wrap">
              <a class="category__btn" href="#">Посмотреть все</a>
            </div>
          </div>
          <!-- /Category -->
        </div>
      </div>
      <a class="scroll-down" href="#">
        <span class="icon-double-arrow"></span>
        <span class="scroll-down__txt">Прокрутите вниз</span>
      </a>
      <!-- /Scroll down -->
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a class="subscribe__item icon-instagram" href="#" target="_blank"></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
    </div>
  </div>
</div>
