<div class="section" data-anchor="contacts">
  <div class="contacts">
    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_white.svg" alt="" />
        </span>
        <a class="burger main-burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime contacts__title">Контакты</h1>
      <div class="items-wrap">
        <div class="items contacts__items">
          <div class="contacts__infos">
            <div class="contact__info">
              <span class="contact__info-ico icon-phone"></span>
              <div class="contact__info-links">
                <a class="contact__info-link" href="tel:+998712318787"
                  >+998 71 231 87 87</a
                >
                <a class="contact__info-link" href="tel:+998901234567"
                  >+998 90 123-45-67</a
                >
              </div>
            </div>
            <!-- /Info -->
            <div class="contact__info">
              <span class="contact__info-ico icon-mail"></span>
              <div class="contact__info-links">
                <a class="contact__info-link" href="mailto:info@lubric.uz"
                  >Info@lubric.uz</a
                >
                <a class="contact__info-link" href="mailto:sales@lubric.uz"
                  >Sales@lubric.uz</a
                >
              </div>
            </div>
            <!-- /Info -->
            <div class="contact__info">
              <span class="contact__info-ico icon-marker"></span>
              <div class="contact__info-links">
                <a
                  class="contact__info-link"
                  href="https://goo.gl/maps/iLUiWX7VS5rfUe619"
                  target="_blank"
                >
                  Узбекистан, г. Ташкент,<br />
                  ул. Чиланзар, дом 83.
                </a>
              </div>
            </div>
            <!-- /Info -->
            <div class="contact__info-txt">
              Свяжитесь с нами, и наш менеджер ответит<br />
              на все интересующие ваши вопросы.
            </div>
          </div>
          <!-- /Infos -->
          <div class="contact__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.126318603685!2d69.22275061568628!3d41.2843552103385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a4456f75d13%3A0x972df100b7fedc34!2z0KfQuNC70LDQvdC30LDRgNGB0LrQsNGPINGD0LvQuNGG0LAsINCi0LDRiNC60LXQvdGCLCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1sru!2s!4v1608233988598!5m2!1sru!2s"
              width="100%"
              height="100%"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a
            class="subscribe__item icon-instagram"
            href="#"
            target="_blank"
          ></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
      <div class="copyright">
        © 2020 ООО «Lubric Oil Uzbekistan». Все права защищены
      </div>
      <!-- /Copyright -->
    </div>
  </div>
</div>
