<header class="header-pages">
  <div class="wrapper-pages header-pages__wrapper">
    <a class="header-pages__logo" href="#">
      <img src="img/logos/header-pages.svg" alt="" />
    </a>
    <div class="header-pages__inner">
      <div class="header-pages__subscribe">
        <a href="#">
          <span class="icon-telegram"></span>
        </a>
        <a href="#">
          <span class="icon-instagram"></span>
        </a>
        <a href="#">
          <span class="icon-facebook"></span>
        </a>
      </div>
      <!-- /Subscribe -->
      <a class="burger" href="#">
        <div class="burger__ico">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <!-- /Burger -->
    </div>
  </div>
</header>
