<div class="section" data-anchor="mfiles">
  <div class="mfiles">
    <div class="wrapper">
      <header class="header">
        <span class="header__logo">
          <img src="img/logos/logo_blue.svg" alt="" />
        </span>
        <a class="burger main-burger" href="#">
          <span class="burger__txt">Меню</span>
          <div class="burger__ico">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- /Burger -->
      </header>
      <!-- /Header -->
      <h1 class="title title_anime mfiles__title">Медиа файлы</h1>
      <div class="items-wrap">
        <div class="items mfiles__items">
          <div class="owl-carousel mfiles-slider">
            <div class="mfile">
              <img src="img/mfiles/mfiles_1.jpg" alt="" />
            </div>
            <!-- /Item -->
            <div class="mfile">
              <img src="img/mfiles/mfiles_2.jpg" alt="" />
            </div>
            <!-- /Item -->
            <div class="mfile">
              <img src="img/mfiles/mfiles_3.jpg" alt="" />
            </div>
            <!-- /Item -->
            <div class="mfile">
              <img src="img/mfiles/mfiles_2.jpg" alt="" />
            </div>
            <!-- /Item -->
          </div>
        </div>
      </div>
      <a class="scroll-down" href="#">
        <span class="icon-double-arrow"></span>
        <span class="scroll-down__txt">Прокрутите вниз</span>
      </a>
      <!-- /Scroll down -->
      <div class="subscribe">
        <span class="subscribe__txt">Следите за нами:</span>
        <div class="subscribe__items">
          <a class="subscribe__item icon-telegram" href="#" target="_blank"></a>
          <a
            class="subscribe__item icon-instagram"
            href="#"
            target="_blank"
          ></a>
          <a class="subscribe__item icon-facebook" href="#" target="_blank"></a>
        </div>
      </div>
      <!-- /Subscribe -->
    </div>
  </div>
</div>
