<div class="product">
  <span class="product__pic">
    <img src="img/catalog/product.png" alt="" />
  </span>
  <span class="product__title">SAe 75W85</span>
  <div class="product__info">
    <div class="product__info-item">
      <span class="product__info-pretxt">Тип</span>
      <span class="product__info-txt">Моторное масло</span>
    </div>
    <div class="product__info-item">
      <span class="product__info-pretxt">Объем</span>
      <span class="product__info-txt">4L</span>
    </div>
  </div>
  <div class="product__btn-wrap">
    <a class="product__btn" href="#">Подробно</a>
  </div>
</div>
<!-- /Product -->
