// Fullpage
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  position: absolute;
  background: $white;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid $white;
  border-radius: 50%;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 12px;
  height: 12px;
  margin: -2px 0 0 -2px;
}

// Owl carousel
.catalog-slider .owl-item {
  width: 300px !important;
}

.catalog-slider .owl-stage-outer {
  width: 99999px;
  height: 512px;
}

.catalog-slider .owl-nav {
  position: absolute;
  top: -29px;
  right: -7%;
}

.catalog-slider .owl-prev {
  margin-right: 8px;
}

.mfiles-slider .owl-item {
  width: 567px !important;
}

.mfiles-slider .owl-stage-outer {
  width: 99999px;
  height: 456px;
}

.mfiles-slider .owl-nav {
  position: absolute;
  top: -50px;
  right: 0;
}

.mfiles-slider .owl-prev {
  margin-right: 8px;
}

// Select2

.selection {
  width: 100%;
}

.select2-container {
  width: 210px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  padding: 5px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single {
  height: auto;
  background: $secondary;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $primary;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background: $primary;
}

.select2-results__option {
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $dark;
  background: $secondary;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $white;
  background: $primary;
}

.select2-container--open .select2-dropdown--below {
  border: 0;
}
